{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "snippets/task.css" %}">
  <link rel="stylesheet" href="{% static "snippets/form.css" %}">
  <link rel="stylesheet" href="{% static "snippets/includes/header.css" %}">
{% endblock %}

{% block page_title %} 今日の予定 {% endblock %}

{%block content %}
  {% include "./includes/header.html" %}
  <h1>{{ name }}</h1>

  <form method="POST">
    {% csrf_token %}
    <div class="form-control {% if form.review_text.errors %}errors{% endif %}">
      {{ form.as_p }}
    </div>
      <button type"submit">Add Step</button>
  </form>

  <h2>Steps:</h2>
    <ul>
        {% for step in steps %}
          <li>{{ step.description }}</li>
        {% empty %}
          <li>No steps available.</li>
        {% endfor %}
    </ul>

  <h2>{{ content }}</h2>
{% endblock %}
